---
import { Contact } from "@/components/contact";
import { Heading, Paragraph } from "@/components/ui/text";
import MainLayout from "@/layouts/main.astro";

const workexperience = [
  {
    role: "Founding AI Engineer",
    company: "IndraAstra",
    location: "Bengaluru",
    date: { start: "May, 2025", end: "Present" },
  },
  {
    role: "GenAI Developer",
    company: "Kissan AI",
    location: "Remote",
    date: { start: "May, 2024", end: "July, 2024" },
  },
  {
    role: "Research Assistant",
    lab: "Remote Sensing",
    location: "IIT BHU, Varanasi",
    date: { start: "2022", end: "2024" },
  }
];
---

<MainLayout>
  <section class="">
    <div>
      <Heading variant="h3">Akash Singh</Heading>
      <Paragraph className="text-muted-foreground leading-none">Applied AI Researcher</Paragraph>
    </div>

    <Paragraph>
      Hi, I'm Akash — a physics graduate from IIT BHU, passionate about AI research aimed at understanding and creating intelligence.
      <br /><br />
      My work explores how intelligent systems can model complex patters, reason, and learn, with applications in neuroscience and heathcare diagnostics. By combining fundamental AI research with insights from brain, i strive to develop models that not only advance machine intelligence but also enhance our understanding of human cognition and improve diagnostic tools in heathcare.
      <br /><br />
      I'm seeking opportunities to advance AI research focused on understanding intelligence, bridging neuroscience insights with machine learning, and developing AI-driven tools for diagnostics and cognitive modeling. If that sounds interesting, <Contact client:load>let's connect!</Contact>
    </Paragraph>
  </section>

  <div></div>

  <section>
    <Heading variant="h4">Experience</Heading>

    <div class="space-y-6">
      {
        workexperience.map((exp) => (
          <div class="flex flex-col justify-between gap-2 sm:flex-row-reverse sm:gap-4">
            <Paragraph className="text-sm sm:text-muted-foreground text-muted-foreground/70">
              {exp.date.start} - {exp.date.end}
            </Paragraph>

            <div>
              <Paragraph>{exp.role}</Paragraph>
              <Paragraph className="text-muted-foreground">
                {exp.company} - {exp.location}
              </Paragraph>
            </div>
          </div>
        ))
      }
    </div>
  </section>
</MainLayout>

<style>
  section {
    display: grid;
    gap: calc(var(--spacing) * 10) /* 2.5rem = 40px */;

    @media (width >= 40rem /* 640px */) {
      gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
      grid-template-columns: 1fr 2fr;
    }
  }
</style>
